
@{
    ViewBag.Title = "_MainLayout";
}
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by 365Bootstrap dot com - Free Responsive Html5 Templates">
    <meta name="author" content="http://www.365bootstrap.com">

    <title>Cửa Hàng Điện Thoại</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Asset/css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/Asset/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Asset/fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/Asset/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Asset/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body style="background-color: #D4D4FF">

    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!--Top-->
    <nav style="background-color:#3B5998; color:#000000; font-family: COMIC SANS MS;" id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <select class="language">
                        <option value="English" selected>Việt Nam</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                    </select>
                    <select class="currency">
                        <option value="USD" selected>VNĐ</option>
                        <option value="EUR">EUR</option>
                        <option value="DDD">DDD</option>
                    </select>
                    <a href="../Admin" target="_blank">Trang Admin</a>
                </div>
                <div class="col-xs-6">
                    <ul class="top-link" style="color:#000000;">
                        @Html.Partial("_LoginPartial") @*Gọi phần Login vô*@
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Header ĐỖ DỮ LIỆU THEO KIỂU HTML.PATITAL SAU DO CHUYEN VE MVCHTMLSTRING-->
    @{ 
        var HeaderPatital = Html.Partial("_PhanHeader");
        HeaderPatital = new MvcHtmlString(HeaderPatital.ToString());
    }
    @HeaderPatital

    @*@if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_PhanHeader", ShopOnline.Models.BUS.GioHangBUS.DanhSachGH(User.Identity.GetUserId()));
    }*@
    <!--Navigation-->
    <nav style="background-color:#935583" id="menu" class="navbar">
        <div style="background-color:#935583" class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li class="dropdown">
                        @Html.ActionLink("Tất cả sản phẩm","Index","MobiShop")
                    </li>
                    <!--MENU HANG SAN XUAT-->
                    @Html.Partial("_Hang", ShopOnline.Models.BUS.HangBUS.DanhSach())
                    
                    <!--MENU LOAI SAN PHAM-->
                    @Html.Partial("_Loai", ShopOnline.Models.BUS.LoaiBUS.DanhSach())

                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////HomePage///////////////////////-->
    <!--//////////////////////////////////////////////////-->
    @RenderBody()
    @{ Html.RenderPartial("_Footer");} 
    <!--Đỗ dữ liệu theo kiểu RenderPatital LẤY BÊN _FOOTER trong Shared-->
    @RenderSection("scripts", required: false) @*Gọi Phần Đăng nhập,Đăng ký bên account có sẵn vào*@
</body>
</html>
